{% extends 'base.html' %}

{% block content %}
<div class = "task" style="margin:30px">
    <div>
        <img src="https://docs.google.com/uc?id=185Hq85rQGCsFbV0RcqZO6kgVrTJ6ma2O" alt="" class="logo-sign-up" style="height: 39px ;">
        <h1 style="margin-top:10px;font-size:30px; font-weight: 600;">Add Task</h1>
    </div>

    <form method="POST" action="" style="margin-top:20px">
        {% csrf_token %}
        <table class="table">
            <!-- <tr>
                <td>Title :</td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Date :</td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td>Description :</td>
                <td>
                    <textarea rows="4" cols="50" name="comment" form="usrform">Enter your description in here</textarea>
                </td>
            </tr> -->
            {{form}}
        </table>
        <!-- <a href="{% url 'todolist:show_todolist' %}"><input type="submit"></a> -->
        <input type="submit" class="btn login_btn login-btn" style="background-color: #F675A8; width: 100%;height:45px;border-radius:35px;margin-top: 40px; font-weight: 600; color: white;">
    </form>
</div>
<!-- <button><a href="{% url 'todolist:logout' %}">Logout</a></button> -->

{% endblock content %}