{% extends 'base.html' %}

{% block content %}
<div class = "task">

    <h1>Add Task</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <!-- <tr>
                <td>Title :</td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Date :</td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td>Description :</td>
                <td>
                    <textarea rows="4" cols="50" name="comment" form="usrform">Enter your description in here</textarea>
                </td>
            </tr> -->
            {{form}}
        </table>
        <!-- <a href="{% url 'todolist:show_todolist' %}"><input type="submit"></a> -->
        <input type="submit">
    </form>
</div>
<!-- <button><a href="{% url 'todolist:logout' %}">Logout</a></button> -->

{% endblock content %}