{% extends 'base.html' %}

{% block meta %}
<title>My Todo List</title>
{% endblock meta %}

{% block content %}

<div class="row" style="margin: 20px ;">
    <div class="col-xl-2 head-name-dash" style="height:100%; text-align: center; margin-top: 50px;">
        <img style="height: 112px;" src="https://docs.google.com/uc?id=1AAxuDd1BLa9v60VFl9iQxzJ6BEnPdP1v" alt="">
        <h3 style="color: #C7C7C7; font-size: 15px; margin-top: 10px; margin-bottom:0px">Username :</h3>
        <h3>{{username}}</h3>
    </div>
    <div class="col-xl-10">
        <div class="btn-logout-bar" style="display:flex; justify-content:space-between; margin: 30px 0px 30px 0px; ">
            <p style="font-size:30; font-weight: 700; font-size: 30px; ">My Task List</p>
            <button type="button" class="btn btn-danger" style="height: 50px; width:100px; border-radius: 35px;"><a href="{% url 'todolist:logout' %}" style="color:white; text-decoration: none; font-weight: 400px;">Logout</a></button>
        </div>
        <button type="button" class="btn btn-light btn-lg" style="width: 100%; border-radius: 35px; border: 1px solid #554994;"><a href="{% url 'todolist:add_task' %}" style="color:#554994; text-decoration: none;">Create Task</a></button>
        <div>
            {% if user_list %}
                <div class="cards-section">
                    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
                    {% for list in user_list %}
                    <div class="card border-success mb-3" style="width: 250px; min-height: 300px; margin: 20px;" onMouseOver="this.style.color='red'" onMouseOut="this.style.color='green'">
                        <div class="card-header bg-transparent border-success">
                            <div style="display: flex; justify-content: space-between">
                                <p style="margin-bottom: 0px;">Your Task Status</p>
                                <div>{{list.is_finised}}</div>
                            </div>
                            <div style="margin-top: 0px;">{{list.date}}</div>
                        </div>
                        <div class="card-body text-success">
                          <h5 class="card-title" style="font-weight:700 ;">{{list.title}}</h5>
                          <p class="card-text">{{list.description}}</p>
                        </div>
                        <div class="card-footer bg-transparent border-success" style="display: flex; justify-content: space-between">
                            <button style="color: white ; border-radius: 15px;" class="btn btn-success" type="button"><a href="{% url 'todolist:finish_task' list.id %}" style="color:white; text-decoration: none;">Finish</a></button>
                            <button style="color: white ; border-radius: 15px;" class="btn btn-danger" type="button"><a href="{% url 'todolist:remove_task' list.id %}"style="color:white; text-decoration:none;"">Remove</a></button>
                        </div>
                      </div>
                    {% endfor %}
                </div>
            {% else %}
                <p style="text-align: center; margin-top:80px; font-size: 20px; font-weight: 700">No Task!</p>
                {% endif %}
        </div>
    </div>
</div>



<br>
{% endblock content %}