{% extends 'base.html' %}

{% block meta %}
<title>Register Account</title>
{% endblock meta %}

{% block content %}  

<div class = "register row" style="margin:30px ;">
    <!-- <div class="col-xl-5 left-sign-up" style="background: #F29393; height: 100%;">
        <img style="height: 922px; width: 552px;"src="https://docs.google.com/uc?id=1wqPAYGidse8gqfAmNdmOHHZLAKyaalxK" alt="">
    </div> -->
    <div class="col-xl-7">
        <div class="right-sign-up">
            <img src="https://docs.google.com/uc?id=185Hq85rQGCsFbV0RcqZO6kgVrTJ6ma2O" alt="" class="logo-sign-up" style="height: 39px ;">
            <p style="font-size: 30px; font-weight:600">Create an Account</p>  
        </div>
            <form method="POST" >  
                {% csrf_token %}  
                <table class="table">  
                    {{ form.as_table }}  
                </table> 
                <input type="submit" name="submit" value="Daftar" class="btn" style="background: #F675A8; color: white; font-weight: 400px; font-size: 18px; width: 100%; margin: 10px; border-radius: 35px;"/>
            </form>
    
        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}
    </div>
</div>  

{% endblock content %}